image: ci/php:5.6

build-job:
  script: 
    - make dist
  only: 
    - master
    
release-job:
  script: 
    - make dist
  artifacts:
    name: "${CI_BUILD_NAME}_${CI_BUILD_REF_NAME}"
    path: build/artifacts/bulkupload.tar.gz
  #only: 
  #  - tags
  
